$text-bottom-margin: 20px;
$text-left-margin: 20px;
$dark-grey: #555;
$black: #000;
$red: #ad0b0b;
$white: #fff;

$media-wide: 'only screen and (min-width: 750px)';
$media-narrow: 'only screen and (max-width: 750px)';
