!!!
%html{ lang: 'en' }
  %head
    = partial('head',
      locals: { keywords: current_page.data.keywords,
                description: current_page.data.description,
                canonical: current_page.url })
  %body
    = partial('top')

    .page
      .grid
        %section
          %header
            %h1= current_page.data.title

          .articles-index
            - if blog.articles.any?
              - blog.articles.each do |article|
                %article.article
                  %header
                    %h1= link_to(article.title, article)
                    = partial('article_meta', locals: { article: article })
                  .article-body
                    = article.summary
            - else
              %p No articles have been written yet.
