.top
  %header.grid
    .logo
      %span{ 'aria-hidden': 'true' }
        B
    .expand-menu{ 'aria-hidden': 'true' }
      %a{ href: '#' }
        ☰
    %nav.main-menu{ 'aria-hidden': 'false' }
      %ul
        - data.menu.each do |link|
          %li{ navigation_options(link['url']) }
            = link_to(link['title'], link['url'])
